.header {
    --margin-element: 1rem;

    width: 100%;
    height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    width: calc(33.3333% - 2* var(--margin-element));
}

.header > div > * {
    width: 100%;
}

.header > h1 {
    color: var(--clr-blue);
    text-align: center;
}

.header > img {
    height: 60%;
    width: auto;
}