html {
  --clr-blue: rgb(0,158,224);
  --clr-yellow: rgb(255,217,17);
  --clr-red: rgb(236,117,46);
}

html,
body {
  height: 100vh;
  width: 100%;

  padding: 0;
  margin: 0;
  
  font-family: 'DIN Light', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  cursor: pointer;

  box-shadow: rgba(127,127,127,0.3) 1px 1px 1px 1px,
              inset rgba(255,255,255,0.3) 1px 1px 1px 1px;

  padding: 0.5rem 1.5rem;

  border-radius: 0.25rem;
  background-color: rgb(223, 219, 219);

  display: inline;

  text-align: center;
  vertical-align: middle;
}