/*@font-face {
    font-family: DIN;
    src: url(/);
}*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    z-index: 10;

    background-color: rgb(223, 223, 223);

    border-radius: 0.75rem;
    box-shadow: rgba(127,127,127,0.3) 2px 1px 3px 2px;
    
    font-size: 125%;
    cursor: pointer;
}

.card:nth-child(6n+1):hover,
.card:nth-child(6n+2):hover,
.card:nth-child(6n+3):hover {
    z-index: 12;
    transition: all 1s ease-out;
    transform: scale(1.1,1.1) perspective(1000px) rotateY(15deg);
    box-shadow: rgba(127,127,127,0.5) 3px 2px 5px 3px;
}

.card:nth-child(6n+4):hover,
.card:nth-child(6n+5):hover,
.card:nth-child(6n):hover  {
    z-index: 12;
    transition: all 1s ease-out;
    transform: scale(1.1,1.1) perspective(1000px) rotateY(-15deg);
    box-shadow: rgba(127,127,127,0.5) 3px 2px 5px 3px;
}

.card > .picture {
    --margin-y-self: 0.5rem;

    height: calc(80% - 2 * var(--margin-y-self));
    width: auto;

    margin: var(--margin-y-self);
    
    color: white;
}

.card .sort {
    font-size: small;
    width: 100%;
    height: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.card > .label {
    height: 20%;
    width: 100%;

    font-size: medium;

    padding: 0 0.75rem;
    border-radius: 0.75rem;
    
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:nth-child(9n+1) > .label,
.card:nth-child(9n+5) > .label,
.card:nth-child(9n) > .label {
    background-color: var(--clr-yellow);
}

.card:nth-child(9n+2) > .label,
.card:nth-child(9n+6) > .label,
.card:nth-child(9n+7) > .label {
    background-color: var(--clr-red);
}
.card:nth-child(9n+3) > .label,
.card:nth-child(9n+4) > .label,
.card:nth-child(9n+8) > .label {
    background-color: var(--clr-blue);
}

.card.dark {
    opacity: 0.4;
}

.openCard {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    height: calc(80vh - 2 * var(--margin-self) - 4 * var(--margin-element));
    z-index: 20;
    left: 20%;

    padding: 1.75rem 2.5rem;

    background-color: rgb(223, 223, 223);

    border-radius: 0.75rem;
    box-shadow: rgba(127,127,127,0.3) 2px 1px 3px 2px;
}

.openCard .text {
    font-size: 150%;
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
}

.openCard .closeBtn {
    color: white;
    background-color: var(--clr-red);
}

.openCard .phoneBtn {
    /*margin: 1%;*/
    background-color: var(--clr-blue);
}

.openCard .mailBtn {
    /*margin: 1%;*/
    background-color: var(--clr-yellow);
}

.openCard .btn:active {
    box-shadow: inset rgba(127,127,127,0.3) 1px 1px 1px 1px,
                rgba(255,255,255,0.3) 1px 1px 1px 1px;
}

.openCard .topCard {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.openCard .bottomCard {
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

.openCard .line {
    width:80%;
    height:2px;
    background-color: var(--clr-blue);
}

.openCard > .closeBtn {
    position: absolute;
    right: 2.5rem;
    top: 1.75rem;
}

.openCard .bottomCard div{
    display : block;
}

.openCard .bottomCard .bottomLeftCard,
.openCard .topCard .identity {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.openCard .topCard .identity .picture {
    height: 100%;
    width: auto;
    align-self: center;
    color: white;
}

.openCard .topCard .identity .name {
    color : var(--clr-blue);
    width: max-content;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


.openCard .topCard .buttons {
    width: 50%;
    padding: 0 7.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1920) {
    .openCard .topCard .buttons .btn {
        width: 8rem;
        height: 8rem;
    
        font-size: 200%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .openCard > .closeBtn {
        width: 5rem;
        height: 3.75rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 125%;
    }
}